
@import './_resets';
@import'./variable';

body {
    background-color: $primary-color;
    color: $text-color;
    font-weight: map-get($font-weights, bold);
}

.main {
    width: 80%;
    margin: 0 auto;
    #{&}_paragraph {
        font-weight: map-get($font-weights, regular);
        &:hover{
            color: pink;
        }
    }
}
